.ticket-page {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "body sidebar"
  ;
  grid-template-columns: 1fr 340px;
  grid-template-rows: auto 1fr;
  /* grid-template-rows: auto calc(100dvh - 64px - 139px); */
  gap: 1rem;
  transition: var(--transition-150);
}

.ticket-page--collapsed {
  grid-template-columns: auto 0px;
  column-gap: 0;
  transition: var(--transition-150);

}

@media (max-width: 768px) {
  .ticket-page {
    grid-template-areas:
      "header"
      "body"
    ;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto calc(100dvh - 64px - 108px); */
    /* grid-template-rows: auto 1fr; */
  }
}

.ticket-page__header,
.ticket-page__replies,
.ticket-page__reply-input,
.ticket-page__sidebar {
  padding: 16px 18px;
}

.ticket-page__header,
.ticket-page__body,
.ticket-page__sidebar {
  background-color: white;
  border: 1px solid var(--border-quaternary);
}

@media (max-width: 768px) {
  .ticket-page__collapse-btn--fixed {
    position: fixed;
    right: 72vw;
    top: calc(64px + 20px);
  }
}

/* =================[ header ] ================= */
.ticket-page__header {
  position: sticky;
  top: calc(64px + 16px);
  z-index: 1;
  grid-area: header;
}

.ticket-page__header::before {
  content: '';
  position: absolute;
  bottom: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px);
  height: 1rem;
  /* background: blue; */
  background: var(--primary-color-50);
  z-index: 1;
}

.ticket-page__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ticket-page__header {
  display: flex;
  align-items: start;
}

.ticket-page__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.ticket-page__info {
  flex: 1;
}

.ticket-page__details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
}

.ticket-page__detail {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  font-size: 12px;
  font-weight: 500;
  color: var(--primary-color-400);
}

@media (max-width: 650px) {
  .ticket-page__detail {
    font-size: 11px;
  }
}

/* =================[ body ] ================= */

.ticket-page__body {
  display: block;
  grid-area: body;
  position: relative;
}

.ticket-page__tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-bottom: 1px solid var(--border-quaternary);
  margin-bottom: 1.5rem;
  position: sticky;
  z-index: 1;
  top: 170px;
  background-color: white;
  padding: 8px 16px 0;
  font-size: 14px;
  color: var(--primary-color-600);
}


.ticket-page__tab {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition-100) color;
}

.ticket-page__tab:not(.ticket-page__tab--active):hover {
  color: var(--info-color-400);
  /* border-bottom: 2px solid var(--info-color-400); */
  transition: var(--transition-100) color;
}

.ticket-page__tab--active {
  color: var(--info-color-500);
  border-bottom: 2px solid var(--info-color-500);
}


.ticket-page__reply-input {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.ticket-page__reply-input input {
  width: 100%;
  height: 100%;
}

.ticket-page__replies {
  display: block;
  margin-block: 2rem;
  /* padding-inline-start: 1px; */
  position: relative;
  padding: 0 18px 0;
}

.ticket-page__replies::before {
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  /* transform: translateY(-50%); */
  background-color: var(--primary-color-400);
  width: 1px;
  height: 100%;
  /* z-index: 234; */
}

.ticket-page__reply {
  /* border-left: 2px solid var(--border-quaternary); */
  margin-bottom: 3rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  position: relative;
}

.ticket-page__reply::before {
  content: '';
  position: absolute;
  background-color: var(--primary-color-200);
  height: 7px;
  width: 7px;
  left: -14.8px;
  top: 0px;
  border: 1px solid var(--primary-color-500);
  /* outline: 1px solid var(--primary-color-300); */
  /* border-radius: 5pc; */
}

.ticket-page__reply:last-of-type::before {
  background-color: var(--primary-color-700);
}

.ticket-page__reply:last-of-type::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 100%;
  width: 5px;
  left: -14px;
  top: 8.6px;
}

@media (max-width: 650px) {
  .ticket-page__reply {
    margin-bottom: 1.6rem;
    gap: 0.5rem;
  }
}

.ticket-page__replyer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 8px;
  margin-bottom: 1.2rem;
}

.ticket-page__replyer__relpy {
  flex: 1;
}

.ticket-page__reply__avatar {
  /* display: ; */
  /* z-index: 2; */
}

.ticket-page__replyer__name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 650px) {
  .ticket-page__replyer__name {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.ticket-page__replyer__date {
  color: var(--primary-color-500);
  font-size: 13px;
  font-weight: 400;
  /* margin-bottom: 1.5rem; */
}

@media (max-width: 650px) {
  .ticket-page__replyer__date {
    font-size: 12px;
    /* margin-bottom: 0.5rem; */
  }
}

.ticket-page__replyer__message {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color-600);
  line-height: 1.4;
  width: 100%;
  /* max-width: 800px; */
}

@media (max-width: 650px) {
  .ticket-page__replyer__message {
    font-size: 13px;
  }
}

/* =================[ sidebar ] ================= */

.ticket-page__sidebar {
  grid-area: sidebar;
  position: sticky;
  top: calc(64px + 16px);
  height: 100%;
  max-height: 70dvh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--transition-150);
  box-shadow: var(--primary-shadow-box);
}

@media (min-width: 769px) {

  .ticket-page--collapsed .ticket-page__sidebar {
    border-width: 0px;
    transition: var(--transition-150);
    position: relative;
    left: 20px;
  }

}

@media (max-width: 768px) {
  .ticket-page__sidebar {
    padding-block: 2rem;
    position: fixed;
    top: calc(64px + 16px);
    right: 0;
    z-index: 1;
    width: 70vw;
    max-height: calc(100dvh - 64px - 16px);
  }

  .ticket-page--collapsed .ticket-page__sidebar {
    right: -100%;
  }
}

.ticket-page__sidebar__csr {}

.ticket-page__sidebar__csr__avatar {
  display: flex;
  margin-bottom: 16px;
  align-items: end;
  column-gap: 8px;
}

.ticket-page__sidebar__csr__name {
  font-size: 14px;
  color: var(--primary-color-500);
}

@media (max-width: 768px) {
  .ticket-page__sidebar__csr__name {
    font-size: 13px;
  }
}

.ticket-page__sidebar__csr__info {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
  border-bottom: 1px solid var(--border-quaternary);
  padding-bottom: 24px;
}


.ticket-page__sidebar__csr__info__data {
  display: inline-flex;
  column-gap: 8px;
}

.ticket-page__sidebar__csr__info__data>svg {
  color: var(--primary-color-500);
}

.ticket-page__sidebar__csr__info__data__text {
  font-size: 12px;
  color: var(--primary-color-500);
}

.ticket-page__sidebar__csr__info__data span {
  background-color: var(--primary-color-200);
  height: 20px;
  width: 1px;
  display: flex;
}

.ticket-page__sidebar__ticket-info {
  margin-top: 24px;
  display: flex;
  flex-flow: column;
  gap: 14px;
}

.ticket-page__sidebar__ticket__select>div {
  margin-bottom: 5px;
}

.ticket-page__sidebar__ticket__select__title {
  color: var(--primary-color-600);
  font-size: 14px;
  margin-bottom: 5px;
}