.input {
  background-color: transparent;
  color: var(--primary-color-500);
  /* width: fit-content; */
  padding: 6px 12px;
  /* padding-block: 12px; */
  font-size: 14px;
  border: 1px solid transparent;
  outline: 1px solid var(--primary-color-400);
  /* box-shadow: var(--primary-shadow); */

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--primary-color-400);
    color: var(--primary-color-400);
  }

  &:focus {
    outline: 2px solid var(--primary-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color-400);
  }

  &::placeholder {
    color: var(--primary-color-400);
  }
}

.primary {
  outline-color: var(--primary-color-400);
  color: var(--primary-color-700);
  box-shadow: var(--primary-shadow);

  &:hover {
    outline-color: var(--primary-color-500);
  }

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--primary-color-300);
    color: var(--primary-color-400);
  }

  &:focus {
    outline: 2px solid var(--primary-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color-400);
  }

  &::placeholder {
    color: var(--primary-color-400);
  }
}

.info {
  outline-color: var(--info-color-400);
  color: var(--info-color-700);
  box-shadow: var(--info-shadow);

  &:hover {
    outline-color: var(--info-color-500);
  }

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--info-color-300);
    color: var(--info-color-400);
  }

  &:focus {
    outline: 2px solid var(--info-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--info-color-400);
  }

  &::placeholder {
    color: var(--info-color-400);
  }
}

.success {
  outline-color: var(--success-color-400);
  color: var(--success-color-700);
  box-shadow: var(--success-shadow);

  &:hover {
    outline-color: var(--success-color-500);
  }

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--success-color-300);
    color: var(--success-color-400);
  }

  &:focus {
    outline: 2px solid var(--success-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--success-color-400);
  }

  &::placeholder {
    color: var(--success-color-400);
  }
}

.warning {
  outline-color: var(--warning-color-400);
  color: var(--warning-color-700);
  box-shadow: var(--warning-shadow);

  &:hover {
    outline-color: var(--warning-color-500);
  }


  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--warning-color-300);
    color: var(--warning-color-400);
  }

  &:focus {
    outline: 2px solid var(--warning-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--warning-color-400);
  }

  &::placeholder {
    color: var(--warning-color-400);
  }
}

.danger {
  outline-color: var(--danger-color-400);
  color: var(--danger-color-700);
  box-shadow: var(--danger-shadow);


  &:hover {
    outline-color: var(--danger-color-500);
  }

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    border: 1px solid transparent;
    outline: 1px solid var(--danger-color-300);
    color: var(--danger-color-400);
  }

  &:focus {
    outline: 2px solid var(--danger-color-400);
  }

  &:focus-visible {
    outline: 2px solid var(--danger-color-400);
  }

  &::placeholder {
    color: var(--danger-color-400);
  }
}

.xs {
  font-size: 14px;
  padding: 8px 32px;
}

.sm {
  font-size: 15px;
  padding: 12px 32px;
}

.md {
  font-size: 16px;
  padding: 12px 32px;
}

.lg {
  font-size: 18px;
  padding: 16px 32px;
}

.xl {
  font-size: 20px;
  padding: 16px 32px;
}