.badge {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  width: fit-content;
  padding: 2px 6px 2px;
  background-color: var(--primary-color-50);
  font-size: var(--text-xs);
  font-weight: var(--font-weight-medium);
  position: relative;
  border-radius: 5px;
  cursor: help;
}

.badge__dot {
  display: block;
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 5px;
}

.primary {
  outline-color: var(--primary-color-200);
  background-color: var(--primary-color-50);
  color: var(--primary-color-600);

  &::after {
    background-color: var(--primary-color-700);
  }

  .badge__dot {
    background-color: var(--primary-color-300);
  }
}

.info {
  outline-color: var(--info-color-200);
  background-color: var(--info-color-50);
  color: var(--info-color-600);

  &::after {
    background-color: var(--info-color-500);
  }

  .badge__dot {
    background-color: var(--info-color-300);
  }
}

.success {
  outline-color: var(--success-color-200);
  background-color: var(--success-color-50);
  color: var(--success-color-600);

  &::after {
    background-color: var(--success-color-500);
  }

  .badge__dot {
    background-color: var(--success-color-300);
  }
}

.warning {
  outline-color: var(--warning-color-200);
  background-color: var(--warning-color-50);
  color: var(--warning-color-600);

  &::after {
    background-color: var(--warning-color-500);
  }

  .badge__dot {
    background-color: var(--warning-color-300);
  }
}

.danger {
  outline-color: var(--danger-color-200);
  background-color: var(--danger-color-50);
  color: var(--danger-color-600);

  &::after {
    background-color: var(--danger-color-500);
  }

  .badge__dot {
    background-color: var(--danger-color-300);
  }
}