.badge {
  display: block;
  outline: 1px solid var(--primary-color-400);
  width: fit-content;
  padding: 2px 2px 2px;
  background-color: var(--primary-color-50);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  cursor: help;
}

.primary {
  outline-color: var(--primary-color-200);
  background-color: var(--primary-color-50);
  color: var(--primary-color-600);

  &::after {
    background-color: var(--primary-color-700);
  }
}

.info {
  outline-color: var(--info-color-200);
  background-color: var(--info-color-50);
  color: var(--info-color-600);

  &::after {
    background-color: var(--info-color-500);
  }
}

.success {
  outline-color: var(--success-color-200);
  background-color: var(--success-color-50);
  color: var(--success-color-600);

  &::after {
    background-color: var(--success-color-500);
  }
}

.warning {
  outline-color: var(--warning-color-200);
  background-color: var(--warning-color-50);
  color: var(--warning-color-600);

  &::after {
    background-color: var(--warning-color-500);
  }
}

.danger {
  outline-color: var(--danger-color-200);
  background-color: var(--danger-color-50);
  color: var(--danger-color-600);

  &::after {
    background-color: var(--danger-color-500);
  }
}