.float-ticket-author {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
}

.float-ticket-author__author {
  flex: 1;
  width: 100%;
}
.float-ticket-author__button {
  /* display: flex; */
}