.ticket-page {
  display: grid;
  grid-template-areas:
    "header sidebar"
    "body sidebar"
  ;
  grid-template-columns: calc(100% - 300px) auto;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  transition: var(--transition-150);
}

.ticket-page--collapsed {
  grid-template-columns: 100% 0px;
  column-gap: 0;
  transition: var(--transition-150);
  position: relative;
  filter: grayscale(10px);
}

@media (max-width: 768px) {
  .ticket-page {
    grid-template-areas:
      "header"
      "body"
    ;
    grid-template-columns: 100%;
  }
}

.ticket-page__header,
.ticket-page__comments,
.ticket-page__add-comment,
.ticket-page__sidebar {
  padding: 16px 18px;
}

.ticket-page__header,
.ticket-page__body,
.ticket-page__sidebar {
  background-color: white;
  border: 1px solid var(--border-quaternary);
}

@media (max-width: 768px) {
  .ticket-page__collapse-btn--fixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: calc(64px + 220px);
    z-index: 4324;
    transition: var(--transition-300);
  }
}

/* =================[ header ] ================= */
.ticket-page__header {
  position: sticky;
  top: calc(64px + 16px);
  z-index: 4;
  grid-area: header;
  border-radius: 10px;
}

.ticket-page__header::before {
  content: '';
  position: absolute;
  bottom: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px);
  height: 1rem;
  background-color: transparent;
  background: white;
}

.ticket-page__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ticket-page__header {
  display: flex;
  align-items: start;
}

.ticket-page__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.ticket-page__info {
  flex: 1;
}

.ticket-page__details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
}

.ticket-page__detail {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  font-size: 12px;
  font-weight: 500;
  color: var(--primary-color-400);
}

@media (max-width: 650px) {
  .ticket-page__detail {
    font-size: 11px;
  }
}

/* =================[ body ] ================= */

.ticket-page__body {
  display: block;
  grid-area: body;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .ticket-page .ticket-page__body::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100% - 0px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: var(--transition-150) ease-in;
    opacity: 1;
  }

  .ticket-page--collapsed .ticket-page__body::before {
    backdrop-filter: blur(0px);
    bottom: 100%;
    left: 0;
    opacity: 0;
    transition: var(--transition-150) ease-in;
  }

}

/*-- Start tabs */
.ticket-page__tabs {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-bottom: 1px solid var(--border-quaternary);
  margin-bottom: 1.5rem;
  position: sticky;
  z-index: 1;
  top: 169px;
  background-color: white;
  font-size: 14px;
  color: var(--primary-color-600);
  width: 100%;
  overflow-x: auto;
  padding-block: 10px 0px;
  padding-inline: 10px;
}

@media (max-width: 768px) {

  .ticket-page__tabs {
    gap: 0.5rem;
  }
}

.ticket-page__tab {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition-100) color;
  white-space: nowrap;
}

.ticket-page__tab:not(.ticket-page__tab--active):hover {
  color: var(--info-color-400);
  transition: var(--transition-100) color;
}

.ticket-page__tab--active {
  color: var(--info-color-500);
  border-bottom: 2px solid var(--info-color-500);
}

/*-- End tabs */
.ticket-page__the-topic-tab,
.ticket-page__history-tab,
.ticket-page__attachments-tab {
  /* display: none !important; */
  padding: 1rem;
}

/*==============[conversation tab]==============*/
.ticket-page__conversation-tab {
  width: 100%;
  max-width: 992px;
}
.ticket-page__add-comment {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.ticket-page__add-comment input {
  width: 100%;
  height: 100%;
}

.ticket-page__comments {
  display: block;
  margin-block: 2rem;
  position: relative;
  padding: 0 18px 0;
}

.ticket-page__comments::before {
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  background-color: var(--primary-color-400);
  width: 1px;
  height: 100%;
}

.ticket-page__comment {
  background-color: white;
  margin-bottom: 3rem;
  position: relative;
  transition: var(--transition-300) background;
  border-radius: 5px;
}

.ticket-page__comment-marked-as-a-solution {
  border: 1px solid var(--success-color-500);
  background: var(--success-color-50);
  padding: 0.5rem;
  transition: var(--transition-300) background;
}


.ticket-page__comment-marked-as-a-solution .ticket-page__commenter__message {
  margin-bottom: 1rem;
}

.ticket-page__comment::before {
  content: '';
  position: absolute;
  background-color: var(--primary-color-200);
  height: 7px;
  width: 7px;
  left: -14.8px;
  top: 0px;
  border: 1px solid var(--primary-color-500);
}

.ticket-page__comment-marked-as-a-solution::before {
  background-color: var(--success-color-200);
  border-color: var(--success-color-500);
  left: -15.8px;
}

@media (max-width: 650px) {
  .ticket-page__comment {
    margin-bottom: 1.6rem;
    gap: 0.5rem;
  }
}

.ticket-page__commenter {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 8px;
  margin-bottom: 1.2rem;
}

.ticket-page__commenter-info {
  flex: 1;
}

.ticket-page__commenter__name {
  color: var(--text-secondary);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 650px) {
  .ticket-page__commenter__name {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.ticket-page__commenter__date {
  color: var(--text-quaternary);
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 650px) {
  .ticket-page__commenter__date {
    font-size: 12px;
  }
}

.ticket-page__commenter__message {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-tertiary);
  line-height: 1.4;
  width: 100%;
}

@media (max-width: 650px) {
  .ticket-page__commenter__message {
    font-size: 13px;
  }
}

/*============================*/

/*==============[attachments tab]==============*/
.ticket-page__attachments-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ticket-page__attachments-tab img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: min(100%, 300px);
  height: auto;
  border: 1px solid var(--border-quaternary)
}

/*============================*/
/*==============[history tab]==============*/
.ticket-page__history-tab {
  padding: 1rem;
}

.ticket-page__history-list {
  display: grid;
  row-gap: 1rem;
}

.ticket-page__history-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ticket-page__history__date {
  color: var(--text-quaternary);
  font-weight: 900 !important;
}

.ticket-page__history__day {
  margin-bottom: 0.5rem;
}

.ticket-page__history__day,
.ticket-page__history__time {
  font-size: 13px;
  font-weight: 400;
}

@media (max-width:768px) {

  .ticket-page__history__day,
  .ticket-page__history__time {
    font-size: 11px;
  }
}


.ticket-page__history__icon {
  border: 1px solid var(--border-quaternary);
  padding: 1rem;
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

@media (max-width:768px) {
  .ticket-page__history__icon {
    padding: 0.5rem;
  }
}

.ticket-page__history-item:not(:last-child) .ticket-page__history__icon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color-200);
  height: 100%;
  width: 0.5px;
}

.ticket-page__history__icon>svg {
  color: var(--text-quaternary);
  stroke-width: 1.5;
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width:768px) {
  .ticket-page__history__icon>svg {
    stroke-width: 1.5;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.ticket-page__history__info {}

.ticket-page__history__title {
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

@media (max-width:768px) {
  .ticket-page__history__title {
    font-size: 13px;
    flex-flow: wrap;
    gap: 0.2rem;
  }
}

.ticket-page__history__description {
  color: var(--text-quaternary);
  font-size: 13px;
  font-weight: 400;
}

@media (max-width:768px) {
  .ticket-page__history__description {
    font-size: 12px;
  }
}

/*============================*/

/* =================[ sidebar ] ================= */

.ticket-page__sidebar {
  grid-area: sidebar;
  position: sticky;
  top: calc(64px + 16px);
  height: 100%;
  max-height: 70dvh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--transition-150);
  box-shadow: var(--primary-shadow-box);
  border-radius: 10px;
}

@media (min-width: 769px) {

  .ticket-page--collapsed .ticket-page__sidebar {
    border-width: 0px;
    transition: var(--transition-150);
    position: relative;
    left: 20px;
  }

}

@media (max-width: 768px) {
  .ticket-page__sidebar {
    padding-block: 2rem;
    position: fixed;
    top: calc(64px + 250px - 16px);
    z-index: 1;
    width: 90vw;
    max-height: calc(100dvh - 64px - 250px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .ticket-page--collapsed .ticket-page__sidebar {
    top: 100%;
  }
}

.ticket-page__sidebar__csr__avatar {
  display: flex;
  margin-bottom: 16px;
  align-items: end;
  column-gap: 8px;
}

.ticket-page__sidebar__csr__name {
  font-size: 14px;
  color: var(--text-tertiary);
}

@media (max-width: 768px) {
  .ticket-page__sidebar__csr__name {
    font-size: 13px;
  }
}

.ticket-page__sidebar__csr__info {
  display: flex;
  flex-flow: column;
  row-gap: 16px;
  border-bottom: 1px solid var(--border-quaternary);
  padding-bottom: 24px;
}


.ticket-page__sidebar__csr__info__data {
  display: inline-flex;
  column-gap: 8px;
}

.ticket-page__sidebar__csr__info__data>svg {
  color: var(--text-tertiary);
}

.ticket-page__sidebar__csr__info__data__text {
  font-size: 12px;
  color: var(--text-tertiary);
}

.ticket-page__sidebar__csr__info__data span {
  background-color: var(--primary-color-200);
  height: 20px;
  width: 1px;
  display: flex;
}

.ticket-page__sidebar__ticket-info {
  margin-top: 24px;
  display: flex;
  flex-flow: column;
  gap: 14px;
}

.ticket-page__sidebar__ticket__select>div {
  margin-bottom: 5px;
}

.ticket-page__sidebar__ticket__select__title {
  color: var(--text-tertiary);
  font-size: 14px;
  margin-bottom: 5px;
}