.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: color-mix(in lab, var(--primary-color-900) 10%, transparent);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/* background: color-mix(in srgb, var(--color) 70%, transparent); */

.dialog_content {
  background-color: white;
  box-shadow: 0px 0px 5px color-mix(in lab, var(--primary-color-900) 20%, transparent);
  width: 100%;
  max-width: 500px;
  position: relative;
  border: 1px solid var(--primary-color-200);
  margin-inline: 16px;
}

.body {
  padding: 48px 16px 16px;
}

.body h4 {
  font-weight: 600;
  margin: 0px;
}

.body p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
}

.close_icon {
  position: absolute;
  top: 16px;
  right: 16px;

}

.footer {
  background-color: var(--primary-color-50);
  padding: 12px;
  direction: rtl;
  display: flex;
  gap: 5px;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}