.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select-container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.select-label {
  font-size: 15px;
  color: var(--primary-color-900);
  font-weight: 500;
  text-transform: capitalize;
}

.select {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  height: 35px;
  padding: 6px 40px 6px 12px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--primary-color-400);
  background-color: white;
  appearance: none;
  color: var(--primary-color-600);
  transition: border-color var(--transition-100);
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.select:hover {
  border-color: var(--primary-color-500);
  transition: border-color var(--transition-100);
}

.select--info {
  color: var(--info-color-600);
  border-color: var(--info-color-400);
  background-color: var(--info-color-50);
}

.select-container:has(.select--info) .select__icon {
  color: var(--info-color-600);
}

.select--info:hover {
  border-color: var(--info-color-500);
}

.select--success {
  color: var(--success-color-600);
  border-color: var(--success-color-400);
  background-color: var(--success-color-50);
}

.select--success:hover {
  border-color: var(--success-color-500);
}

.select-container:has(.select--success) .select__icon {
  color: var(--success-color-600);
}

.select--warning {
  color: var(--warning-color-600);
  border-color: var(--warning-color-400);
  background-color: var(--warning-color-50);
}

.select--warning:hover {
  border-color: var(--warning-color-500);
}

.select-container:has(.select--warning) .select__icon {
  color: var(--warning-color-600);
}

.select--danger {
  color: var(--danger-color-600);
  border-color: var(--danger-color-400);
  background-color: var(--danger-color-50);
}

.select--danger:hover {
  border-color: var(--danger-color-500);
}

.select-container:has(.select--danger) .select__icon {
  color: var(--danger-color-600);
}

.select-sm {
  padding: 4px 25px 4px 8px;
  font-size: 12px;
}

.select__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--primary-color-400);
  height: 14px;
  user-select: contain;
}