.select-priority-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.select-priority{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 12px;
}
.select-priority__title{
  font-size: var(--text-sm);
  color: var(--primary-color-700);
  font-weight: var(--font-weight-semibold);
  text-transform: capitalize;
}