.ticket {
  border: 1px solid var(--border-tertiary);
  background-color: white;
  position: relative;
  overflow: hidden;
  transition: var(--transition-150);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.ticket:has(input:checked) {
  border: 1px solid var(--info-color-500);
  background-color: var(--info-color-50);
  transition: var(--transition-150);
}

.ticket__header {
  padding-bottom:8px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  flex: 1;
}

.ticket__settings {
  display: flex;
  gap: 1rem;
}

.ticket__details {
  flex: 1;
}

.ticket__title {
  color: var(--text-secondary);
  font-weight: 500;
  font-size: var(--text-base);
  flex: 1;
}

.ticket__header__footer {
  display: flex;
  align-items: end;
  gap: 1rem;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.ticket__number,
.ticket__assignee,
.ticket__created-at {
  font-size: 12px;
  color: var(--text-tertiary);
  display: flex;
  align-items: end;
  justify-content: start;
  column-gap: 2px;
}

.ticket__footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .ticket__footer {
    gap: 10px;
  }
}

.ticket__footer--left-side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-radius: 5px;
  flex: 1;
}

.ticket__tags {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 5px;
}