@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* initial settings */
*,
html,
body,
button {
  font-family: "Inter", "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: var(--primary-color-200);
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-400);
}
/* ::-webkit-scrollbar-button {
  background: blue;
} */
::-webkit-scrollbar-track {
  background: var(--primary-color-200);
  /* background: yellow; */
}

/* --------------------------------- */

label {
  cursor: pointer;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  /* min-height: 100vh; */
  /* overflow-y: hidden; */
}

ul,
li {
  margin: 0;
}

@view-transition {
  navigation: auto;
}

/*quill input custom css*/
.ql-container {
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  min-height: 150px;
}
.ql-container, .ql-toolbar {
  border-color: var(--border-secondary)!important;
}
.ql-toolbar {
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}