.dropdown_list {
  background-color: white;
  border: 1px solid var(--primary-color-200);
  box-shadow: var(--primary-shadow-box);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  width: 130px;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  /* z-index: 1; */
}

.dropdown_list_item {
  padding: 8px;
  transition: var(--transition-50);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color-500);

  &:hover {
    background-color: var(--primary-color-100);
    transition: var(--transition-50);
  }
}
@media (max-width: 650px) {
  .dropdown_list_item {
    font-size: 14px;
  }
}