.radio-input__label {
  display: inline-block;
  padding: 5px 5px;
  width: 100%;
  text-align: center;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-300);
  background-color: var(--primary-color-50);
  border: 1px solid var(--primary-color-200);
  border-radius: var(--radius-lg);
}

.radio-input-container {
  display: inline-block;
  border-radius: var(--radius-lg);
  border: 2px solid transparent;
  overflow: hidden;
}

.radio-input:checked+.radio-input__label {
  background-color: var(--info-color-50);
  transition: var(--transition-300);
  border-color: white;
}
.radio-input-container:has(.radio-input:checked) {
  border: 2px solid var(--info-color-200);
}